

/* Contact Page */
.contact-container {
   width: 80%;
   /* border: 2px solid black; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 1em;
}
.contact-container .img {

   display: flex;
   justify-content: center;
   align-items: center;
}
.contact-container img {
   width: 80%;
}
.mail-form .form-section .form-field-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1em;
}
.mail-form .form-header {
   font-size: 2rem;
   text-align: left;
}
.mail-form :is(input, textarea) {
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 5px;
   padding: 0.3em;
}
.mail-flex {
   display: flex;
   gap: 1em;
}
.mail-body {
   width: 100%;
   height: 6em;
}
