
@media (max-width: 1115px) {
    :root {
        --map-info-txt-fs: 0.5rem;
        --map-info-max-wid: 400px;
        --map-info-min-wid: 200px;
    }
    .home-title-box .title {
        font-size: 3rem;
    }


    .contact-container {
        width: 80%;
        gap: 2em;
    }
}

@media (max-width: 980px) {
    :root {
        --impact-title-fs: 2.75rem;

        --resource-fs: 1rem;
    }

    .home-content {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5em;
        border: 2px solid green;
    }
    .home-img {
        width: 100%;
        border: 2px solid red;
        align-self: center;
    }
    .home-img img {
        border: 2px solid black;
        border-radius: 50%;
    }
    .home-title-box .title {
        font-size: 3rem;
    }

    .stat h3 {
        font-size: 1.5rem;
    }


    .impact-card:nth-of-type(2n+1) {
        grid-template-columns: 1fr 1fr;
    }
    .impact-card:nth-of-type(2n) {
        grid-template-columns: 1fr 1fr;
    }
    .impact-card {
        gap: 1.5em;
    }
    .impact-img img {
        width: 100%;
    }
    .impact-content {
        width: 100%;
        height: 100%;
    }
    .impact-content .impact-topic-head {
        font-size: 1.5rem;
    }
    .impact-content .impact-text {
        font-size: 0.8rem;
        overflow: visible;
        z-index: 1;
    }


    .contact-container {
        flex-direction: column;
    }
    .contact-container form {
        order: 2;
    }
    .contact-container img {
        order: 1;
    }
}

@media (max-width: 777px) {
    :root {
        --impact-title-fs: 2rem;
    }

    .impact-cards {
        width: 90%;
    }
    .impacts-container {
        width: 100%;
    }

    .impact-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.2em;
        width: 95%;

        box-shadow: 0 0 5px black;
        padding: 0.5em;
        border-radius: 10px;
    }
    .impact-title {
        text-align: center;
        font-size: 2rem;
    }
    .impact-card .impact-img {
        order: 1;
    }
    .impact-card .impact-content {
        order: 2;
    }
    .impact-card .impact-topic-head {
        text-align: center;
        width: 100%;
    }

    .impact-img img {
        max-width: 80%;
        aspect-ratio: 1;
    }

    .stat h3 {
        font-size: 1.3rem;
    }
    .stat p {
        font-size: 0.9rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }
    .stat.usa {
        grid-column: span 1;
    }

    .stat.right-bd::before  {
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
    }


    form .form-section select {
        width: 100%;
        height: 100%;
    }

    .mapContainer {
        display: none;
    }
}

/* New Nav Bar */
@media (max-width: 700px) {
    :root {
        --link-gap: 0;

        --pointer-wid: 20px;
        --pointer-fs: 0.4rem;

        --map-info-txt-fs: 0.4rem;
        --map-info-max-wid: 350px;
        --map-info-min-wid: 150px;

        --docs-grid-cols: 1fr;

    }

    #toggle-btn {
        display: block;
        border-radius: 10px 10px 0 0;
        border: 2px solid black;
        color: black;
        font-size: 2rem;
        width: var(--nav-sm-wid);
    }
    #nav-r {
        width: var(--nav-sm-wid);
        height: var(--nav-sm-hei);
    }
    #nav-r.opened {
        display: none;
    }
    #nav-r.closed {
        display: block;
    }
    #nav-m .nav-m-container {
        display: flex;
        flex-direction: column;
        /* border: 3px solid yellow; */
        height: 0;
        overflow: hidden;
        transition: height 300ms;
        z-index: 10;
        position: absolute;
        top: 100%;
    }
    .nav-m-container a, #nav-r.closed{
        width: var(--nav-sm-wid);
        text-align: center;
        display: grid;
        place-items: center;
        height: var(--nav-sm-hei);
        border: 1px solid black;
        transition: background-color 250ms;
        background-color: var(--body-bg);
    }
    #nav-r.closed :is(a, button) {
        border: none;
        color: black;
        background: none;
    }
    #nav-r.closed {
        border-radius: 0 0 10px 10px;
        display: grid;
        place-items: center;
    }
    .nav-m-container a:is(:hover, :focus, :focus-visible),
    .nav-m-container a:has(button:is(:hover, :focus, :focus-visible)) {
        background-color: rgb(255, 249, 196);
    }
    .nav-m-container #nav-r.closed:has(a:is(:hover, :focus, :focus-visible)) {
        background-color: rgb(255, 249, 196);
        border-radius: 0 0 10px 10px;
    }
    .nav-m-container :is(.g, .b):hover {
        border-bottom-color: transparent;
    }
    /* Alternate method of nav toggle on focus instead */
    /* #n0av-m:has(:focus, :focus-visible) .nav-m-container {
        height: calc(var(--nav-sm-hei) * 5);
    } */


    .mapContainer span.citation {
        font-size: 0.5rem;
    }

}


@media (max-width: 580px) {
    :root {
        --calc-heading: 2.5rem;

        --resource-fs: 0.8rem;
        --resource-wid: 90%;
        --resource-heading-fs: 1rem;

        --table-wid: 90%;
        --table-txt-fs: 0.85rem;
        --table-head-fs: 0.65rem;
    }

    body {
        padding: 0;
        overflow-x: hidden;
    }
    .home-content {
        gap: 0;

        --pointer-wid: 20px;
        --pointer-fs: 0.4rem;

        --map-info-txt-fs: 0.4rem;
        --map-info-max-wid: 300px;
        --map-info-min-wid: 100px;
    }
    .home-img {
        width: 100%;
        margin: 1em;
        border-radius: 50%;
        padding: 0;
    }
    .home-title-box {
        margin: 0;
        padding: 0;
    }
    .home-title-box .title {
        font-size: 2rem;
    }
    .home-content .sub-title #type-ani-txt {
        font-size: 0.8rem;
    }
    .home-content .sub-title #type-ani-txt b {
        font-size: 0.7rem;
    }

    .stats .stat p {
        font-size: 0.8rem;
    }
    .stats .stat h3 {
        font-size: 1rem;
    }
    .stats .stat img {
        width: 50%;
    }

    .stat .us_plot {
        display: none;
    }

    .impact-title {
        font-size: 1.5rem;
    }
    .impact-cards {
        width: 80%;
    }
    .impacts-container {
        width: 100%;
        flex-shrink: 0;
    }
    .impact-card {
        width: 95%;
        text-wrap: wrap;
    }
    .impacts-page {
        width: 100vw;
    }


    .form-section {
        padding: 1em;
        font-size: 0.8rem;
    }


    .faq-answer {
        font-size: 0.6rem;
    }

    .production .form-btn-container a {
        font-size: 1rem;
    }
}

@media (max-width: 406px) {
    :root {
        --nav-sm-wid: 150px;

        --map-info-txt-fs: 0.3rem;
        --map-info-max-wid: 250px;
        --map-info-min-wid: 80px;

        
        --resource-fs: 0.7rem;
        --resource-wid: 100%;
        --resource-heading-fs: 1rem;

        --table-wid: 95%;
        --table-txt-fs: 0.6rem;
        --table-head-fs: 0.4rem;
    }


    .stats .stat img {
        width: 80%;
    }
    .stats .stat h3 {
        font-size: 0.8rem;
    }
    .stats .stat p {
        font-size: 0.6rem;
    }

    .statsContainer {
        width: 100vw;
    }

    .mail-flex {
        flex-direction: column;
    }

    div#allLinks.container-div {
        grid-template-columns: 1fr 1fr;
    }
    #allLinks h3 {
        font-size: 1.1rem;
    }

    #footer {
        flex-direction: column;
        gap: 0.5em;
    }

    select {
        width: 80%;
    }

    .production .form-btn-container a {
        font-size: 0.7rem;
    }
}

