
:root {
    --stat-separator: radial-gradient(circle at center, rgba(100, 100, 100, 0.2), rgba(0, 0, 0, 0.0));
    --stat-heading-fs: 2rem;
}
/* statistics section */
.statsContainer {
    margin: 2em;
    padding: 3em;
}

.statsContainer h2 {
    text-align: center;
    padding: 0.5em;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    /* gap: 3em; */
}

.stats .stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    position: relative;
    /* width: 80%; */
    height: 100%;
    padding: 2em;
    /* border-radius: 20px; */
}

.stat img {
    width: 40%;
}
.stat h3 {
    font-size: var(--stat-heading-fs);
    border-bottom: 2px solid gray;
    margin: 0;
}
.stat p {
    flex-grow: 1;
}

.stat.usa {
    grid-column: span 2;
}
.stat .us_plot {
    width: 90%;
    height: 20px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    padding: 20px;
}
.us_plot .air_conditioning {
    width: 47%;
    height: 20px;
    display: grid; place-items: center;
    background-color: rgba(255, 0, 0, 0.9);
}
.us_plot .water_heating {
    width: 14%;
    height: 20px;
    display: grid; place-items: center;
    background-color: rgba(255, 0, 0, 0.6);
}
.us_plot .appliances {
    width: 24%;
    height: 20px;
    display: grid; place-items: center;
    background-color: rgba(255, 0, 0, 0.4);
}
.us_plot .lighting {
    width: 12%;
    height: 20px;
    display: grid; place-items: center;
    background-color: rgba(255, 0, 0, 0.2);
}
.us_plot .media {
    width: 3%;
    height: 20px;
    display: grid; place-items: center;
    background-color: rgba(255, 0, 0, 0.1);
}