
*, *::before, *::after {
    box-sizing: border-box;
    background: none;
}

:root {
    --nav-height: 6em;
    --body-bg: rgb(255, 253, 234);
}
/*Body (1 Important Tag)*/
body{
   background-color: var(--body-bg) !important;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
   margin: 0;
   max-width: 100dvw;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

.body{
   color: black;
   margin:0px;
   display:flex;
   justify-content: flex-start;
   flex-direction:column;
   align-items: center;
   height: 100dvh;
}


/* Reseting Properties Globally */
a {
    text-decoration: none !important;
}

/* Header */
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 1em;
}

/* Nav Bar -- Avinav */
/* the nav styles affect the mobile version of the navbar so i commented it out */

.whole-navbar {
   width: 100%;
   display: flex;
   align-self: flex-start;
   justify-content: center;
   border-radius: 5px;
   margin-top:10px;
}
#nav-m{
   width: 1100px;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   overflow:visible;
}
.nav-btn{
   color: black;
   background-color: transparent;
   border-radius: 2px;
   font-size: 0.85rem;
   transition: 100ms ease-in-out;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-color: transparent;
   overflow:visible;
   border-width: 2px;
   padding:5px;
}
.nav-btn a {
   color: black;
}
.b:hover{
   color:black;
   border-style:solid;
   border-color: transparent;
   border-bottom-color: #40b4da;
}
.g:hover{
   color:black;
   border-style:solid;
   border-color: transparent;
   border-bottom-color: #0bcc7c;
}
#nav-r{
   width:500px;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
}
.nav-contact{
   font-family:monospace;
   padding:10px;
   padding-right: 20px;
   padding-left: 20px;
   background-color:#0bcc7c;
   border-radius: 5px;
   color:black;
   border-style:solid;
   border-color:black;
   border-width: 1px;
}
.nav-contact:hover{
   background-color:#0fb16e;
   color:white;
}
#nav-l{
   width:500px;
   display:flex;
   justify-content: center;
}
.nav-m-container{
   width: 100%;
   display:flex;
   justify-content: space-evenly;
   height:30px;
   height: 80%;
   align-items: center;
   overflow:visible;
}
#nav-logo{
   font-family:monospace;
   font-size:1.5rem;
   color:black;
}




/* Home -- Avinav */
.home{
   height: 100%;
   width:80%;
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
.home-content{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   width:100%;
}

.home-img{
   display:flex;
   animation: rotate 180s linear infinite
}
@keyframes rotate {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
.home-title-box{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 350px;
}
.title{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display:flex;
   justify-content: center;
   flex-direction: row;
   align-items: flex-start;
   font-size: 4rem;
   width: 100%;
}
#cont-1{
   color:#05c072;
}
#cont-2{
   color:#40b4da;
}

.sub-title{
   display: flex;
   justify-content: flex-start;
   width: 60%;
   height: 1.3rem;
}
#type-ani-txt{
   font-family: monospace;
   font-size: 1.2rem;
   border-right: 2px solid #000;
   vertical-align: center;
   margin: auto 0;
   white-space: nowrap;
}
#type-ani-txt b {
   font-size: 1.1rem;
}

.home-btn{
   display:flex;
   align-items: center;
   width: 15%;
   margin-right: 45%;
   margin-top: 3%;
   height: 12%;
   justify-content: center;
   border-style: solid;
   border-color:black;
   background-color: #42c1eb;
   color:black;
   border-radius: 5px;
   border-width: 1px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.home-btn:hover{
   color:white;
   background-color:#2cb0dc;
}

/* Map Page (2 important) */
.mapContainer {
   background-color: transparent;
   margin: 3em 0.5em;
   padding: 1em;
   border-radius: 20px;
}
.map svg:nth-child(1) {
   background-color: transparent !important;
   border: 2px solid lightblue;
   border-radius: 20px 20px 0 0;
}
.map .geolayer g.layer.bg rect {
   fill-opacity: 0 !important;
}

.map .details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border: 2px solid lightblue;
   margin: -2px 0 0.5em 0;
   padding: 0.5em;
   border-radius: 0 0 20px 20px;
}

.map .details .col {
   font-size: 1.2rem;
   font-variant: small-caps;
   font-weight: bold;
   margin: auto 0;
}
.map .details .year {
   font-size: 0.7rem;
   margin: auto 0;
}

.mapContainer form {
   display: grid;
   grid-template-columns: 1fr 4fr 0.8fr;
   gap: 1em;
   place-items: end;
}

/* Calculator Page */

form {
   position: relative;
}

.form-section {
   margin: 0.3em 0 2em 0;
}
.form-header {
   font-size: 1.2rem;
   border-bottom: 3px solid gray;
   font-weight: bold;
   padding: 0.3em;
   text-align: center;
   position: relative;
}

form .active-header {
   background-color: rgba(97, 255, 97, 0.8);
   border-radius: 10px 10px 0 0;
   width: 100%;
   position: absolute;
   z-index: -1;
   transition: top linear 50ms;
}

form .carbon-footprint {
   text-align: center;
   background: rgba(97, 255, 97, 0.6);
   box-shadow: 0 0 5px black;
   border-radius: 20px;
   padding: 0.5em;
   margin: 0.5em;
}

/* Production Section -- Carbon Footprint */
.production {
   background: rgba(187, 255, 187, 0.641);
   border-radius: 10px;
   padding: 1.2em;
   box-shadow: 0 0 5px black;
   margin: 1em;
}
.production .prod_intro {
   font-size: 2rem;
   font-variant: small-caps;
}
.production .prod_main {
   font-size: 3rem;
   text-wrap: wrap;
   font-weight: bold;
}

/* Contact Page */
.mail-form .form-section .form-field-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1em;
}
.mail-form .form-header {
   font-size: 2rem;
   text-align: left;
}
.mail-form :is(input, textarea) {
   background-color: rgba(255, 255, 255, 0.8);
}
.mail-flex {
   display: flex;
   gap: 1em;
}
.mail-body {
   width: 100%;
   height: 6em;
}

/*custom nav tab style */
.nav-pills > .nav-link {
   border-radius: 60px !important;
   width: 120px !important; 
   height: 120px !important; 
   padding: 6px 0px !important; 
}
.nav-pills > .nav-link.active {
   background-color: #198754 !important;
}
.nav-pills > .nav-link:not(.active) {
   color: #212529 !important;
}

/*footer*/
#body-container {
   height: 100dvh;
}

#footer {
   position: relative;
   width: 100dvw;
   text-align: center;
   margin-top: auto;
   min-height: 5em;
   display: grid;
   place-items: center;
   /* background-color: rgb(23, 0, 76); */
}

#footer > a {
   color: #198754;
   display: inline-block;
   margin: 0 auto;
   text-align: center;
}

/* Up Button */
#upBtn {
   aspect-ratio: 1;
   width: 50px;
   position: fixed;
   bottom: 30px;
   right: 30px;
}
#upBtn button {
   width: 100%;
   aspect-ratio: 1;
   border-radius: 50%;
   border: none;
   background-color: rgba(0, 0, 0, 0.6) !important;
   color: white;
}




/* General Classes (1 Important) */
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.bold {
   font-weight: bold;
}

.my-tooltip {
  /* padding: 1em 0.3em; */
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.my-tooltip .tooltip-parent {
  border-radius: 50%;
  padding: 0.3em 0.8em;
  margin: 0;
  text-align: center;
  color: gray;
  font-size: 0.5rem;
  border: 1px solid gray;
}
.my-tooltip .tooltip-child {
  position: absolute;
  /* right: 50%;
  bottom: 100%; */
  right: 110%;
  max-width: 100dvw;
  font-size: 0.6rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  padding: 1em;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}
.my-tooltip .tooltip-parent:is(:hover, :focus) + .tooltip-child {
  display: inline-flex !important;
}
