{% extends 'greenClean/layout.html' %}
{% load static %}

{% block title %}Your Carbon Footprint{% endblock %}
{% block metaDescription %}Calculate your carbon footprint using our calculator!{% endblock %}
{% block metaKeywords %}{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'greenClean/css/calculator.css' %}">
{% endblock %}

{% block body %}

    <form action="/footprint" method="POST">
        {% csrf_token %}

        <!-- {% for field in form %}
                <div class="form-field">
                    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                </div>
        {% endfor %} -->

        <div class="active-header"></div>
        
        <div class="form-section">
            <!-- Tool Tip-->
            <h3 class="form-header flex-center">
                <div class="my-tooltip">
                    <button type="button" class="tooltip-parent"><i class="fa-solid fa-exclamation"></i></button>
                    <p class="tooltip-child flex-center">This calculation is based on data collected from 2022
                    </p>
                </div>
                Energy:
            </h3>
            
            <div class="form-field-container">
                {% for field in energyForm %}
                        <div class="form-field">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                {% endfor %}
                <div class="carbon-footprint" id="energy_co2">Grams of CO<sub>2</sub> Produced Yearly: </div>
                <input type="hidden" name="energy_co2" id="co2_energy" value="">
                  
            </div>
        </div>

        <div class="form-section">
            <h3 class="form-header">Public Transportation:</h3>
            <div class="form-field-container">
                {% for field in transportForm %}
                        <div class="form-field">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                {% endfor %}
                <div class="carbon-footprint" id="transport_co2">Grams of CO<sub>2</sub> Produced Yearly: </div>
                <input type="hidden" name="transport_co2" id="co2_transport" value="">
            </div>
        </div>


        <div class="form-section">
            <h3 class="form-header">Flight:</h3>
            <div class="form-field-container">
                {% for field in flightForm %}
                        <div class="form-field">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                {% endfor %}
                <div class="carbon-footprint" id="flight_co2">Grams of CO<sub>2</sub> Produced Yearly: </div>
                <input type="hidden" name="flight_co2" id="co2_flight" value="">
            </div>
        </div>

        
        <div class="form-section">
            <h3 class="form-header">Car Travel:</h3>
            <div class="form-field-container">
                {% for field in carForm %}
                        <div class="form-field">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                {% endfor %}
                <div class="carbon-footprint" id="car_co2">Grams of CO<sub>2</sub> Produced Yearly: </div>
                <input type="hidden" name="car_co2" id="co2_car" value="">
            </div>
        </div>

        <div class="submit-btn">
            <button class="btn btn-success" type="submit">Calculate Total <i class="fa-solid fa-caret-right"></i></button>
        </div>

        {% if total_prod != 0 %}
            <div class="production">
                <div class="prod_intro">
                    You produce on average:
                </div>
                <div class="prod_main">
                    {{ total_prod }}
                    kgCO<sub>2</sub> Per Year
                </div>
            </div>
        {% endif %}
    </form>
    <!-- {% if total_prod != 0 %}
        <div class="production">
            <div class="prod_intro">
                You produce on average:
            </div>
            <div class="prod_main">
                {{ total_prod }} kgCO<sub>2</sub> Per Year
            </div>
        </div>
    {% endif %} -->



    <script>
        let carbonIntensities = '{{ elec_intensities | safe }}';
    </script>
    <script src="{% static 'greenClean/calculator.js' %}"></script>

{% endblock %}