{% extends 'greenClean/layout.html' %}
{% load static %}

{% block title %}Contact Page{% endblock %}
{% block metaDescription %}Contact Info And FAQ(Frequently Asked Questions) {% endblock %}
{% block metaKeywords %}{% endblock %}

{% block body %}

    {% comment %} FAQ {% endcomment %}

    <div class="faq-container">
        <h2 class="flex-center">FAQ (Frequently Asked Questions)</h2>
        <div class="faq">
            <div class="faq-question">
                <h3>1. Question 1 about Clean Energy home <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sed provident voluptatem soluta dolore obcaecati fuga ipsam, blanditiis odio maiores nemo quas fugiat quasi veniam culpa quam accusantium assumenda consectetur?</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-question">
                <h3>2. Question 2 about Clean Energy home <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sed provident voluptatem soluta dolore obcaecati fuga ipsam, blanditiis odio maiores nemo quas fugiat quasi veniam culpa quam accusantium assumenda consectetur?</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-question">
                <h3>3. Question 3 about Clean Energy home <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sed provident voluptatem soluta dolore obcaecati fuga ipsam, blanditiis odio maiores nemo quas fugiat quasi veniam culpa quam accusantium assumenda consectetur?</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Contact {% endcomment %}

    {% if contacted %}
        <div class="popup-message">
            <div class="message">
                Thank you for filling out the form! We will evaluate & respond to your concerns within 2-3 business days! (We sent you an email confirmation about this form submission as well!)
            </div>
            <div class="close"><button>Close</button></div>
        </div>
        
    {% endif %}
    <form action="/contact" method="POST" class="mail-form">
        {% csrf_token %}

        <div class="form-section">
            <h3 class="form-header">Contact Form:</h3>
            <div class="form-field-container">
                <!-- {% for field in contact_form %}
                        <div class="mail-field">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="{{ field.auto_id }}">{{ field }}</div>
                        </div>
                {% endfor %} -->

                <div class="mail-flex">
                    <div class="mail-field">
                        <label for="fName" class="form-label">First Name: </label>
                        <div class="fName"><input type="text" name="fName" id="fName" class="mail-fName" required></div>
                    </div>
    
                    <div class="mail-field">
                        <label for="lName" class="form-label">Last Name: </label>
                        <div class="lName"><input type="text" name="lName" id="lName" class="mail-lName" required></div>
                    </div>
                </div>

                <div class="mail-flex">
                    <div class="mail-field">
                        <label for="sender" class="form-label">Your Email: </label>
                        <div class="sender"><input type="email" name="sender" id="sender" class="mail-sender" required></div>
                    </div>
    
                    <div class="mail-field">
                        <label for="subject" class="form-label">Subject: </label>
                        <div class="subject"><input type="text" name="subject" id="subject" class="mail-subject" required></div>
                    </div>
                </div>

                <div class="mail-field">
                    <label for="mail-body" class="form-label">Mail Body: </label>
                    <div class="mail-body"><textarea name="mail-body" id="mail-body" class="mail-body" required></textarea></div>
                </div>
                

            </div>
        </div>

        <div class="submit-btn">
            <button class="btn btn-success" type="submit">Send <i class="fa-solid fa-caret-right"></i></button>
        </div>
        {% if message %}
            <div class="message" style="color: red;">
                {{ message }}
            </div>
        {% endif %}
    </form>

    <script src="{% static 'greenClean/faq.js' %}"></script>

{% endblock %}