{% extends 'greenClean/layout.html' %}
{% load static %}

{% block title %}Contact Page{% endblock %}
{% block metaDescription %}Contact Info And FAQ(Frequently Asked Questions) {% endblock %}
{% block metaKeywords %}{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'greenClean/css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'greenClean/css/faq.css' %}">
{% endblock %}

{% block body %}

    {% comment %} Contact {% endcomment %}

    <!-- {% if contacted %}
        <div class="popup-message">
            <div class="message">
                Thank you for filling out the form! We will evaluate & respond to your concerns within 2-3 business days! (We sent you an email confirmation about this form submission as well!)
            </div>
            <div class="close"><button>Close</button></div>
        </div>
        
    {% endif %} -->

    <a id="#contact"></a>
    <div class="contact-container">
        <form action="/contact" method="POST" class="mail-form">
            {% csrf_token %}
            <div class="form-section">
                <h3 class="form-header">Contact Form:</h3>
                <div class="form-field-container">
                    <!-- {% for field in contact_form %}
                            <div class="mail-field">
                                <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div class="{{ field.auto_id }}">{{ field }}</div>
                            </div>
                    {% endfor %} -->
    
                    <div class="mail-flex">
                        <div class="mail-field">
                            <label for="fName" class="form-label">First Name: </label>
                            <div class="fName"><input type="text" name="fName" id="fName" class="mail-fName" required></div>
                        </div>
        
                        <div class="mail-field">
                            <label for="lName" class="form-label">Last Name: </label>
                            <div class="lName"><input type="text" name="lName" id="lName" class="mail-lName" required></div>
                        </div>
                    </div>
    
                    <div class="mail-flex">
                        <div class="mail-field">
                            <label for="sender" class="form-label">Your Email: </label>
                            <div class="sender"><input type="email" name="sender" id="sender" class="mail-sender" required></div>
                        </div>
        
                        <div class="mail-field">
                            <label for="subject" class="form-label">Subject: </label>
                            <div class="subject"><input type="text" name="subject" id="subject" class="mail-subject" required></div>
                        </div>
                    </div>
    
                    <div class="mail-field">
                        <label for="mail-body" class="form-label">Mail Body: </label>
                        <div class="mail-body"><textarea name="mail-body" id="mail-body" class="mail-body" required></textarea></div>
                    </div>
                    
    
                </div>
            </div>
    
            <div class="submit-btn">
                <button class="btn btn-success" type="submit">Send <i class="fa-solid fa-caret-right"></i></button>
            </div>
            {% if message %}
                <div class="message" style="color: red;">
                    {{ message }}
                </div>
            {% endif %}
        </form>
        
        <div class="img">
            <img src="{% static 'greenClean/images/earth.png' %}" alt="">
        </div>
    </div>

    {% comment %} FAQ {% endcomment %}

    <a id="#faq"></a>
    <div class="faq-container">
        <h2 class="flex-center">FAQ (Frequently Asked Questions)</h2>
        <div class="faq">
            <div class="faq-question">
                <h3>Why is this relevant to me? <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Understanding the benefits of helping the environment comes with various financial incentives such as an increase in property value. Aside from this, the government also tends to provide tax credits and rebates to those who help the environment. You can check out some solutions (& Incentives) for green energy over <a href="/solutions">here</a></p>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-question">
                <h3>Can my home efficiency increase with more sustainable living? <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Adopting sustainable practices, such as reducing energy consumption and using Smart Home Technology, will promote energy efficiency by optimizing resources and minimizing environmental impact.</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-question">
                <h3>What are some companies to reach out to in order to go green? <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Some companies to reach out to are IKEA and Patagonia, both of which are well-known for their sustainable practices. Other types of companies to contact include: Energy Efficiency & Renewable Energy companies, Green Building Material companies & Eco-friendly Landscaping companies</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-question">
                <h3>Does making environmentally-friendly upgrades enhance the resale value of a home? <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Yes, eco-friendly upgrades can boost a home's resale value due to lower energy costs, government incentives, increased demand, and positive environmental impact.</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-question">
                <h3>Can eco-friendly choices be integrated into traditional or cultural architecture styles? <i class="fa-solid fa-caret-down"></i></h3>
            </div>
            <div class="faq-answer">
                <div class="answer-container">
                    <p>Certainly, eco-friendly choices can blend with traditional architecture by using energy-efficient tech, renewable energy, sustainable materials, and community engagement, preserving both cultural heritage and environmental sustainability.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'greenClean/faq.js' %}"></script>

{% endblock %}