{% extends "greenClean/layout.html" %}
{% load static %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <div class="documents">
        <h1>Documents: </h1>
        <div class="tsa-docs">
            <div class="plan-work-log"><a href="{% static 'greenClean/plan-of-work-log.pdf' %}" target="_blank">Plan of Work Log</a></div>
            <div class="copyright-checklist"><a href="{% static 'greenClean/copyright-checklist.pdf' %}" target="_blank">Copyright Checklist</a></div>
            <div class="design-brief"><a href="{% static 'greenClean/design-brief.pdf' %}" target="_blank">Design Brief</a></div>
            <div class="site-map"><a href="{% static 'greenClean/site-map.pdf' %}" target="_blank">Site Map</a></div>
        </div>
    </div>

    <div class="citations">
        <h1>Citations: </h1>
        <div class="all-citations">
            <p>Home Page Challenges Icons, Solutions page icons, & Contact page earth icon all by Manuel Viveros from Flaticon</p>
            <a href="https://www.flaticon.com/free-icons/renewable-energy" title="renewable energy icons">Renewable energy icons created by Freepik - Flaticon</a>
            <p>Haikei.app used for creation of svg wave pattern</p>
            <p>Home Page Earth Icon also from Flaticon</p>
            <p>Image by <a href="https://pixabay.com/users/grand_scient-720827/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1748403" target="_blank">Grand Scient</a> from Pixabay</p>
        </div>
    </div>

{% endblock %}