{% extends "greenClean/layout.html" %}
{% load static %}

{% block title %}Documentation{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'greenClean/css/documentation.css' %}">
{% endblock %}

{% block body %}

    <div class="citations">
        <h1>Citations: </h1>
        <div class="all-citations">
            <p>Home Page Challenges Icons, Solutions page icons, & Contact page earth icon all by Manuel Viveros from Flaticon</p>
            <p>Haikei.app used for creation of svg wave pattern</p>
            <p>Home Page Earth Icon also from Flaticon</p>
            <p>All Icons, except Tips icons in Home page (self-made), found in Flaticon & free to use with attribution</p>
            <p>Image by <a target="_blank" href="https://pixabay.com/users/grand_scient-720827/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1748403" target="_blank">Grand Scient</a> from Pixabay</p>
            <p>SVG waves created from <a target="_blank" href="https://getwaves.io/">https://getwaves.io/</a></p>
            
            <p>Bendig, Erin. “Home Energy Improvements to Save Money and Go Green.” Kiplinger.com, 19 
                    Apr. 2024, <a target="_blank" href="https://www.kiplinger.com/personal-finance/home-savings/home-energy-improvements-to-save-money-and-go-green">www.kiplinger.com/personal-finance/home-savings/home-energy-improvements-to-save-money-and-go-green</a>. Accessed 22 May 2024.</p>
            
            <p>Bureau of Transportation Statistics. “National Household Travel Survey Daily Travel Quick Facts | Bureau of Transportation Statistics.” Bts.gov, 31 May 2017, <a target="_blank" href="https://www.bts.gov/statistical-products/surveys/national-household-travel-survey-daily-travel-quick-facts.">www.bts.gov/statistical-products/surveys/national-household-travel-survey-daily-travel-quick-facts.</a></a></p>

            <p>“National Household Travel Survey Long Distance Travel Quick Facts | Bureau of Transportation Statistics.” Www.bts.gov, 31 May 2017, <a target="_blank" href="https://www.bts.gov/statistical-products/surveys/national-household-travel-survey-long-distance-travel-quick-facts">www.bts.gov/statistical-products/surveys/national-household-travel-survey-long-distance-travel-quick-facts</a>.</p>

            <p>EPA. “US EPA.” US EPA, 2023, <a target="_blank" href="https://www.epa.gov/">www.epa.gov/</a>.</p>

            <p>Federal Highway Administration. “Average Annual Miles per Driver by Age Group.” Www.fhwa.dot.gov, 31 May 2022, <a target="_blank" href="https://www.fhwa.dot.gov/ohim/onh00/bar8.htm">www.fhwa.dot.gov/ohim/onh00/bar8.htm</a>.</p>

            <p>Federal Home Loan Mortgage Corporation. “Housing and Economic Research.” Www.freddiemac.com, <a target="_blank" href="https://www.freddiemac.com/research">www.freddiemac.com/research</a>.</p>

            <p>National Association of Home Builders. “National Association of Home Builders.” Nahb.org, 2019, <a target="_blank" href="https://www.nahb.org/">www.nahb.org/</a>.</p>

            <p>National Association of Realtors. “Www.nar.realtor.” Www.nar.realtor, 2019, <a target="_blank" href="https://www.nar.realtor/">www.nar.realtor/</a>.</p>

            <p>Panasonic Corporation. “Green Homes vs Conventional Homes: Which Sells Faster for USA Homeowners?” Na.panasonic.com, 3 Oct. 2023, <a target="_blank" href="https://na.panasonic.com/us/green-living/green-homes-vs-conventional-homes-which-sells-faster-usa-homeowners">na.panasonic.com/us/green-living/green-homes-vs-conventional-homes-which-sells-faster-usa-homeowners</a>.</p>

            <p>Progressive Inc. “How to Go Green at Home | Progressive.” Progressive, 28 Mar. 2023, <a target="_blank" href="https://www.progressive.com/lifelanes/household/how-to-go-green-at-home/">www.progressive.com/lifelanes/household/how-to-go-green-at-home/</a>. Accessed 22 May 2024.</p>

            <p>Replica Editorial. “The Average American Adult Travels More than 40 Miles per Day. See How Residents in Your County Rank.” Www.replicahq.com, 28 Feb. 2024, <a target="_blank" href="https://www.replicahq.com/post/the-average-american-adult-travels-more-than-40-miles-per-day-in-2023-see-how-residents-in-your-county-rank">www.replicahq.com/post/the-average-american-adult-travels-more-than-40-miles-per-day-in-2023-see-how-residents-in-your-county-rank</a>. Accessed 22 May 2024.</p>

            <p>Saad, Lydia. “U.S. Air Travel Remains down as Employed Adults Fly Less.” Gallup.com, 6 Jan. 2022, <a target="_blank" href="https://news.gallup.com/poll/388484/air-travel-remains-down-employed-adults-fly-less.aspx">news.gallup.com/poll/388484/air-travel-remains-down-employed-adults-fly-less.aspx</a>.</p>

            <p>Tiseo, Ian. “U.S. Fossil CO2 Emissions per Capita 1970-2019.” Statista, 14 Dec. 2023, <a target="_blank" href="www.statista.com/statistics/1049662/fossil-us-carbon-dioxide-emissions-per-person/">www.statista.com/statistics/1049662/fossil-us-carbon-dioxide-emissions-per-person/</a>.</p>
        </div>
    </div>

{% endblock %}