{% extends "greenClean/layout.html" %}
{% load static %}

{% block title %}Documentation{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'greenClean/css/documentation.css' %}">
{% endblock %}

{% block body %}
    
    <div class="documents">
        <h1>Documents: </h1>
        <div class="docs-container">
            <div class="doc checklist">
                <a href="{% static 'greenClean/docs/copyright-checklist.pdf' %}" target="_blank">Copyright Checklist</a>
                <div class="bg"><img src="{% static 'greenClean/docs/copyright-checklist.png' %}" alt="Copyright Checklist Picture"></div>
            </div>
            <div class="doc design">
                <a href="{% static 'greenClean/docs/design-brief.pdf' %}" target="_blank">Design Brief</a>
                <div class="bg"><img src="{% static 'greenClean/docs/design-brief.png' %}" alt="Design Brief Picture"></div>
            </div>
            <div class="doc work-log">
                <a href="{% static 'greenClean/docs/plan-of-work-log.pdf' %}" target="_blank">Plan Of Work Log</a>
                <div class="bg"><img src="{% static 'greenClean/docs/work-log.png' %}" alt="Plan of Work Log Picture"></div>
            </div>
            <div class="doc site-map">
                <a href="{% static 'greenClean/docs/site-map.pdf' %}" target="_blank">Site Map</a>
                <div class="bg"><img src="{% static 'greenClean/docs/site-map.png' %}" alt="Site Map Picture"></div>
            </div>
        </div>
    </div>

    <div class="citations">
        <h1>Citations: </h1>
        <div class="all-citations">
            <p>Home Page Challenges Icons, Solutions page icons, & Contact page earth icon all by Manuel Viveros from Flaticon</p>
            <p>Haikei.app used for creation of svg wave pattern</p>
            <p>Home Page Earth Icon also from Flaticon</p>
            <p>Image by <a href="https://pixabay.com/users/grand_scient-720827/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1748403" target="_blank">Grand Scient</a> from Pixabay</p>
            <p>SVG waves created from <a href="https://getwaves.io/">https://getwaves.io/</a></p>
        </div>
    </div>

{% endblock %}