{% extends "greenClean/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block metaDescription %}Green Energy Initiatives{% endblock %}
{% block metaKeywords %}Sustainability, Green Energy, Global Warming, Initiatives, Startup{% endblock %}

{% block body %}

    <div class="home">
        <div class="home-content">
            <div class="home-img">
                <img src="https://www.svgrepo.com//show/227814/planet-earth-global.svg" height="350px" width="350px">
            </div>
            <div class="home-title-box">
                <div class="title">
                    <div id="cont-1"><b>EARTH&ensp;</div>
                    <div id="cont-2">FIRST</b></div>
                </div>
                <div class="sub-title">
                    <span id="type-ani-txt">&ensp;</span>
                </div>
                    <button class="home-btn">
                        <a href="#impacts" id="homeA">
                            Learn more
                        </a>
                    </button>
            </div>
        </div>
    </div>


    <section>
        <a id="impacts"></a>
        <div class="impacts-page">
            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="home-wave">
                <path fill="#18bc67" fill-opacity="1" d="M0,128L34.3,128C68.6,128,137,128,206,138.7C274.3,149,343,171,411,186.7C480,203,549,213,617,218.7C685.7,224,754,224,823,208C891.4,192,960,160,1029,170.7C1097.1,181,1166,235,1234,229.3C1302.9,224,1371,160,1406,128L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
    
                </path>
            </svg> {% endcomment %}
            <img src="{% static 'greenClean/images/wave-2.svg' %}" class="home-wave">
            <div class="impact-title"><b>CURRENT CHALLENGES</b></div>
                <div class="impact-card">
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/pollution.png' %}" height="350" width="350">
                    </div>
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Pollution</b></div>
                        <div class="impact-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eos necessitatibus magnam eveniet nulla iste architecto blanditiis culpa minima quas. Nemo numquam expedita ipsa soluta ipsam ex dolor porro non!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatibus ratione dignissimos aliquid distinctio quas officia eaque repudiandae accusamus, dolorem voluptates est, rerum sapiente tenetur quia, dicta adipisci natus ea.
                            <ul>
                                <li>Lorem</li>
                                <li>Ipsum</li>
                                <li>Dolor</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Fossil Fuels</b></div>
                        <div class="impact-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quidem officia, dolor vitae tenetur laudantium dolore voluptatibus eveniet, doloremque iste fuga esse asperiores repellendus cumque nostrum placeat nulla accusantium ex?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatibus ratione dignissimos aliquid distinctio quas officia eaque repudiandae accusamus, dolorem voluptates est, rerum sapiente tenetur quia, dicta adipisci natus ea.
                            <ul>
                                <li>Lorem</li>
                                <li>Ipsum</li>
                                <li>Dolor</li>
                            </ul>    
                        </div>
                    </div>
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/fossil-fuels.png' %}" height="350" width="350">
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/deforestation.png' %}" height="350" width="350">
                    </div>
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Deforestation</b></div>
                        <div class="impact-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam excepturi in ut rem ipsa porro pariatur asperiores quo natus laboriosam tempore dignissimos ex, eaque quaerat, error nostrum saepe sapiente laborum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatibus ratione dignissimos aliquid distinctio quas officia eaque repudiandae accusamus, dolorem voluptates est, rerum sapiente tenetur quia, dicta adipisci natus ea.
                            <ul>
                                <li>Lorem</li>
                                <li>Ipsum</li>
                                <li>Dolor</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Mining</b></div>
                        <div class="impact-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci in quaerat, ducimus expedita deserunt eius optio nostrum distinctio vel. Perferendis eveniet repudiandae quas sunt veniam cupiditate doloribus! Libero, nobis suscipit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatibus ratione dignissimos aliquid distinctio quas officia eaque repudiandae accusamus, dolorem voluptates est, rerum sapiente tenetur quia, dicta adipisci natus ea.
                            <ul>
                                <li>Lorem</li>
                                <li>Ipsum</li>
                                <li>Dolor</li>
                            </ul> 
                        </div>
                    </div>
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/mining.png' %}" height="350" width="350">
                    </div>
                </div>
        </div>
    </section>


    <!-- <section>
        <a id="aboutus"></a>
        <div class="aboutus">
            <div class="logo">
                <img src="{% static 'greenClean/images/logo-nobg.png' %}">
            </div>
            <div class="content">
                <h3>Who are we: </h3>
                <p class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, enim omnis? Cumque impedit esse, odit temporibus vero et repudiandae quae, iusto totam laborum cupiditate doloribus, eius dolor necessitatibus natus in.
                    Totam quas ab, veniam ratione minus fuga necessitatibus possimus, unde ducimus atque aliquam inventore eum voluptatem dignissimos culpa nam placeat maiores ullam, omnis fugiat consequuntur deleniti. Rem totam voluptate voluptatem.
                </p>
            </div>
        </div>
    </section> -->



    <script>
        // Add your own texts here
        const textsToType = ["","Discover your <b>carbon footprint</b>.", "Unlock <b>eco-friendly</b> habits.","Explore the <b>costs</b> of a <b>renewable future</b>.","Learn about <b>global energy</b> usage."];
     
        // Initialize Typed.js
        const options = {
          strings: textsToType,
          backSpeed: 40,
          backDelay: 1000,
          typeSpeed: 50,
          showCursor: true,
          cursorChar: '',
          loop: true
        };
     
        const typed = new Typed('#type-ani-txt', options);
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var height = window.innerHeight;
            var b = document.querySelector("body");
            const homeWave = document.querySelector(".home-wave")
            b.style["min-height"] = height;
        } )
    </script>

{% endblock %}