{% extends "greenClean/layout.html" %}

{% block title %}Map{% endblock %}
{% block metaDescription %}Energy Usage Around the World{% endblock %}
{% block metaKeywords %}{% endblock %}

{% block body %}

    <div class="mapContainer">
        {% if map %}
            <div class="map">
                {{ map | safe }}
                <div class="details">
                    <p class="col">{{ col }}</p>
                    <p class="year">{{ year }}</p>
                </div>
            </div>

        {% endif %}


        <form action="/map" method="POST" class="mapForm">
            {% csrf_token %}
            <!-- This just adds a class to the label item nothing else -->
            {% for field in form %}
                <div class="form-field">
                    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="submit-btn">
                <button class="btn btn-success" type="submit">Submit <i class="fa-solid fa-caret-right"></i></button>
            </div>
        </form>
    </div>

{% endblock %}