
{% extends 'greenClean/layout.html' %}
{% load static %}

{% block title %}More Information{% endblock %}
{% block metaDescription %}Green Energy Initiatives{% endblock %}
{% block metaKeywords %}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'greenClean/css/moreinfo.css' %}">
{% endblock %}

{% block extraHead %}
    <style>
    </style>
{% endblock %}

{% block body %}

    <h1><b>More resources to learn from:</b></h1>

    
    <div class="blocks-container">
        <div class="block">
            <div class="link-container">
                <h2>Recycle!</h2>
            </div>
            
            <div class="link-container">
                <h2>Compost!</h2>
            </div>

            <div class="link-container">
                <h2>Save Energy!</h2>
            </div>
        </div>
        
        <div class="block">
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
        </div>
        
        <div class="block">
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
        </div>

        <div class="block">
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
            <div class="link-container">
                <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank">Reasons to Recycle</a>
            </div>
        </div>
    </div>

    <!-- <div style="clear:both;"></div>
    <div class="container">
        <h2><b>Learn how you can recycle!</b></h2>
        <h6><b>Learn how you can compost!</b></h6>
        <h7><b>Learn how you can save energy!</b></h7>
      </div>      
    <div style="clear:both;"></div>
    <div id="allLinks" class="container-div">
        
        <a href="https://www.maine.gov/dep/waste/recycle/index.html" target="_blank"><h3>Reasons to Recycle</h3></a>
        <a href="https://dnr.mo.gov/waste-recycling/reduce-reuse-recycle" target="_blank"><h3>How to Reduce, Reuse, and Recycle</h3></a>
        
        
    </div>
    <div id="allLinksB" class="container-divB">
        <a href="https://www.epa.gov/recycle/composting-home" target="_blank"><h4>Composting at Home</h4></a>
        <a href="https://portal.ct.gov/DEEP/Waste-Management-and-Disposal/Organics-Recycling/Home-Composting---Turn-Your-Spoils-into-Soil" target="_blank"><h4>Why Compost?</h4></a>
        <a href="https://www.nrdc.org/stories/composting-101#benefits" target="_blank"><h4>The Benefits of Composting</h4></a>
        
    </div>
    <div id="allLinksB" class="container-divC">
        <a href="https://nhsaves.com/learn/2019/05/save-on-energy-and-protect-the-environment/#:~:text=By%20making%20a%20commitment%20to,a%20greener%20and%20healthier%20planet." target="_blank"><h5>Saving Energy to Benefit All.</h5></a>
        <a href="https://www.epa.gov/energy/reduce-environmental-impact-your-energy-use" target="_blank"><h5>Saving Energy, Saving Money</h5></a>
        <a href="https://www.nrdc.org/stories/energy-efficiency-clean-facts" target="_blank"><h5>Learn More About Energy Efficiency.</h5></a>
    </div> -->

{% endblock %}