{% extends "greenClean/layout.html" %}
{% load static %}

{% block title %}Solutions{% endblock %}

{% block body %}
    <section>
        <div class="impacts-page" style="background: none;">
            <div class="impact-title" style="color: #35875B;">
                <b>Solutions</b>
            </div>
            <p style="font-size: 1.8rem; font-family: Verdana; text-align: center; color: #2D3337;">How to become Eco-Smart for Homeowers!</p>
                <div class="impact-card">
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/EV.png' %}" height="350" width="350">
                    </div>
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Electric Vehicle (EV) Charging Stations</b></div>
                        <li>Can promote the use of EV's (which are better for the environment!)</li>
                        <li><b>Fun Fact:</b> All EV's produce 0 direct emissions!</li>
                        <li><b>Incentives:</b> Sustainable & Quiet!</li>
                        <li><b>Costs:</b> Expensive & Requires much more time</li>
                        <li><b>Tax Rebates:</b> Some regions might offer tax credits for installing EV charging stations</li>
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Community Solar Programs</b></div>
                        <div class="impact-text">
                            <li>Homeowners can invest in or subscribe to a shared solar energy system! </li>
                            <li><b>Fun Fact:</b> This system gives people access to clean & renewable energy while giving people credits on their energy bills</li>
                            <li><b>Incentives:</b> Save money on electrical bills & No need for own solar system</li>
                            <li><b>Costs:</b> Access is dependent on where you live</li></div>
                            <li><b>Tax Rebates:</b> There might be tax incentives for joining a community solar programs</li>
                    </div>
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/community-solar.png' %}" height="350" width="350">
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/led.png' %}" height="350" width="350">
                    </div>
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Energy-Efficient Lighting</b></div>
                        <div class="impact-text">
                            <li>LED and CFL bulbs use 60-80% less energy compared to traditional incandescent bulbs while also lasting long!</li>
                            <li><b>Fun Fact:</b> They can help you save more than $100</li>
                            <li><b>Incentives:</b> Long term financial savings</li>
                            <li><b>Costs:</b> High initial costs</li>
                            <li><b>Tax Rebates:</b> Some regions offer tax incentives for the purchase of energy-efficient lighting</li>
                        </div>
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Solar Ventilation</b></div>
                        <div class="impact-text">
                            <li>Can use sunlight to power fans or vents that improve air circulation</li>
                            <li><b>Fun Fact:</b> You don't need electricians to help you with Solar Ventilation systems!</li>
                            <li><b>Incentives:</b> Safer than attic ventilation fans + renewable energy + enhances your homes energy efficiency</li>
                            <li><b>Costs:</b> High upfront costs</li>
                            <li><b>Tax Rebates:</b> Not many area offer tax incentives for solar ventilation, but it is a good investment for the long term</li>
                        </div>
                    </div>
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/solar-ventilation.png' %}" height="350" width="350">
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/maintain.png' %}" height="350" width="350">
                    </div>
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Home Energy Monitoring Systems</b></div>
                        <div class="impact-text">
                            <li>Tracks your home's energy usage in real-time</li>
                            <li><b>Fun Fact:</b> Can help identify energy-wasting appliances & thus optimize your energy usage!</li>
                            <li><b>Incentives:</b> Lower long term utility bills</li>
                            <li><b>Cost:</b> High initial financial cost</li>
                            <li><b>Tax Rebates:</b> Some regions might offer tax incentives for installing home energy monitoring systems</li>
                        </div>
                    </div>
                </div>
                <div class="impact-card">
                    <div class="impact-content">
                        <div class="impact-topic-head"><b>Green Roof Systems</b></div>
                        <div class="impact-text">
                            <li>Provide insulation, reduce stormwater runoff, and improve air quality</li>
                            <li><b>Fun Fact:</b> Can reduce energy needs for heating and cooling!</li>
                            <li><b>Incentives:</b> Increased lifespan of your roof, help the environment & aid air quality</li>
                            <li><b>Costs:</b> Needs more maintenance & costs more money</li>
                            <li><b>Tax Rebates:</b> Many regions offer tax rebates for green roof systems. Ex: Florida</li>
                        </div>
                    </div>
                    <div class="impact-img">
                        <img class="img-i" src="{% static 'greenClean/images/save.png' %}" height="350" width="350">
                    </div>
                </div>
        </div>
    </section>
    
{% endblock %}