{% extends "greenClean/layout.html" %}

{% block title %}Solutions{% endblock %}

{% block body %}
    <div class="container-fluid px-5">
        <div class="row mt-5">
            <div class="col-2">
                <img src="https://images.pexels.com/photos/9800036/pexels-photo-9800036.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h1>Electric Vehicle (EV) Charging Stations</h1>
                <ul class="fs-2">
                    <li>Some stations can be integrated with solar panels for cleaner charging</li>
                    <li>Installation costs depend on the type and capacity of the charging station</li>
                    <li>Some governments offer incentives for EV charging infrastructure</li>
                    <li>Encourages the adoption of electric vehicles, reducing carbon emissions</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h1>Community Solar Programs</h1>
                <ul class="fs-2">
                    <li>Community solar programs allow homeowners to invest in or subscribe to a shared solar energy system</li>
                    <li>Participants receive credits on their energy bills based on their share of the system's output</li>
                    <li>Ongoing benefits include reduced energy bills</li>
                    <li>Enables access to solar energy without the need for rooftop installations</li>
                </ul>
            </div>
            <div class="col-2">
                <img src="https://images.pexels.com/photos/8853507/pexels-photo-8853507.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-2">
                <img src="https://images.pexels.com/photos/266688/pexels-photo-266688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h1>Energy-Efficient Lighting</h1>
                <ul class="fs-2">
                    <li>LED and CFL bulbs are more energy-efficient than traditional incandescent bulbs</li>
                    <li>While initial costs may be higher, the long lifespan and energy savings make them cost-effective</li>
                    <li>Reduces electricity consumption and the need for frequent bulb replacements</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h1>Solar Ventilation</h1>
                <ul class="fs-2">
                    <li>Solar-powered ventilation systems use sunlight to power fans or vents that improve air circulation</li>
                    <li>Improves indoor air quality using renewable energy and reduce the need for traditional electrical ventilation</li>
                    <li>Potential long-term energy savings from solar panels</li>
                </ul>
            </div>
            <div class="col-2">
                <img src="https://images.pexels.com/photos/2464416/pexels-photo-2464416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/TED_Model_1001.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h1>Home Energy Monitoring Systems</h1>
                <ul class="fs-2">
                    <li>Smart home energy monitoring systems track energy usage in real-time</li>
                    <li>They provide insights to help homeowners make informed decisions about energy consumption</li>
                    <li>Savings through better energy management</li>
                    <li>Promotes energy awareness and efficiency</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h1>Green Roof Systems</h1>
                <ul class="fs-2">
                    <li>Provide insulation, reduce stormwater runoff, and improve air quality</li>
                    <li>Enhances building insulation, reducing energy needs for heating and cooling</li>
                </ul>
            </div>
            <div class="col-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/British_Horse_Society_Head_Quarters_and_Green_Roof.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
{% endblock %}