{% extends "greenClean/layout.html" %}
{% load static %}

{% block title %}Statistics{% endblock %}
{% block metaDescription %}World Energy Statistics{% endblock %}
{% block metaKeywords %}{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'greenClean/css/map.css' %}">
    <link rel="stylesheet" href="{% static 'greenClean/css/statistics.css' %}">
{% endblock %}

{% block body %}

    <div class="mapContainer">
        <h2>Hover/Click to see energy data:</h2>
        <div class="map">

            <img src="{% static 'greenClean/images/world-map.png' %}" alt="">

            <div class="pointers">
                <span class="usa">
                    <div class="hover-txt">
                        <h3>USA</h3>
                        <p><strong>Population:</strong> {{ us.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ us.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ us.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ us.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ us.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="canada">
                    <div class="hover-txt">
                        <h3>Canada</h3>
                        <p><strong>Population:</strong> {{ canada.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ canada.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ canada.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ canada.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ canada.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="mexico">
                    <div class="hover-txt">
                        <h3>Mexico</h3>
                        <p><strong>Population:</strong> {{ mexico.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ mexico.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ mexico.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ mexico.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ mexico.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>

                <span class="brazil">
                    <div class="hover-txt">
                        <h3>Brazil</h3>
                        <p><strong>Population:</strong> {{ brazil.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ brazil.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ brazil.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ brazil.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ brazil.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="argentina">
                    <div class="hover-txt">
                        <h3>Argentina</h3>
                        <p><strong>Population:</strong> {{ argentina.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ argentina.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ argentina.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ argentina.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ argentina.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>

                <span class="germany">
                    <div class="hover-txt">
                        <h3>Germany</h3>
                        <p><strong>Population:</strong> {{ germany.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ germany.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ germany.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ germany.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ germany.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="england">
                    <div class="hover-txt">
                        <h3>England</h3>
                        <p><strong>Population:</strong> {{ uk.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ uk.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ uk.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ uk.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ uk.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="italy">
                    <div class="hover-txt">
                        <h3>Italy</h3>
                        <p><strong>Population:</strong> {{ italy.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ italy.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ italy.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ italy.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ italy.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>

                <span class="russia">
                    <div class="hover-txt">
                        <h3>Russia</h3>
                        <p><strong>Population:</strong> {{ russia.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ russia.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ russia.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ russia.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ russia.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="china">
                    <div class="hover-txt">
                        <h3>China</h3>
                        <p><strong>Population:</strong> {{ china.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ china.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ china.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ china.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ china.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="india">
                    <div class="hover-txt">
                        <h3>India</h3>
                        <p><strong>Population:</strong> {{ india.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ india.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ india.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ india.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ india.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                
                <span class="egypt">
                    <div class="hover-txt">
                        <h3>Egypt</h3>
                        <p><strong>Population:</strong> {{ egypt.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ egypt.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ egypt.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ egypt.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ egypt.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="iran">
                    <div class="hover-txt">
                        <h3>Iran</h3>
                        <p><strong>Population:</strong> {{ iran.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ iran.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ iran.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ iran.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ iran.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
                <span class="iraq">
                    <div class="hover-txt">
                        <h3>Iraq</h3>
                        <p><strong>Population:</strong> {{ iraq.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ iraq.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ iraq.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ iraq.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ iraq.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>

                <span class="australia">
                    <div class="hover-txt">
                        <h3>Australia</h3>
                        <p><strong>Population:</strong> {{ australia.population }} people</p>
                        <p><strong>Biofuel Consumption:</strong> {{ australia.biofuel_consumption }} tw-hours*</p>
                        <p><strong>Coal Consumption:</strong> {{ australia.coal_consumption }} tw-hours*</p>
                        <p><strong>Electricity Generation:</strong> {{ australia.electricity_generation }} tw-hours*</p>
                        <p><strong>Energy Per Capita:</strong> {{ australia.energy_per_capita }} kw-hours per person**</p>
                    </div>
                </span>
            </div>

        </div>
        <span class="citation">*tw-hours = Terawatt-hours = Unit of energy representing 1 trillion watt-hours or 3.6*10<sup>15</sup> Joules</span>
        <span class="citation">**kw-hours = Kilowatt-hours = Unit of energy representing 1,000 watt-hours or 3.6*10<sup>6</sup> Joules</span>
    </div>

    <div class="statsContainer">
        <h2 class="fade-out">Statistics:</h2>
        <div class="stats">
            <div class="stat fade-out right-bd">
                <img src="{% static 'greenClean/images/energy.png' %}" alt="">
                <h3>Average Households</h3>
                <p>The average household consumes <strong>~800-1,000 Kilowatt-hours(kWh)</strong> of electricity per month. This equates to <strong>~9,600-12,000 kWh</strong> annualy!</p>
            </div>
            <div class="stat fade-out">
                <img src="https://www.svgrepo.com//show/227814/planet-earth-global.svg" alt="">
                <h3>Around The World</h3>
                <p>The world uses <strong>~180,000 terwatt-hours(tWh)</strong> of energy, with more than 75% of energy coming from fossil fuels!</p>
            </div>

            <div class="stat top-bd bottom-bd usa fade-out">
                <h3>In the USA:</h3>
                <p>The average annual household electricity consumption is <strong>10,632 kWh</strong></p>
                <p>Mostly come from air conditioning & 
                    heats (47% of energy), water heating 
                    (14% of energy) , appliances 
                    (fridge, washer/dryer, electric stove…)
                     - 24%, lighting - 12%, and media 
                     equipment - 3%</p>
                <div class="us_plot">
                    <div class="air_conditioning">47%</div>
                    <div class="water_heating">14%</div>
                    <div class="appliances"> 24%</div>
                    <div class="lighting">12%</div>
                    <div class="media">3%</div>
                </div>
            </div>

            <div class="stat right-bd fade-out">
                <img src="{% static 'greenClean/images/renewable-energy.png' %}" alt="">
                <h3>Renewable Energy</h3>
                <p><strong>Albania, Paraguay, Ethiopia, & Nepal </strong> produced more than 99.7% of their electricity using renewable energy sources in 2022. This is a great achievement and scientists describe it as a "irreversible tipping point"</p>
            </div>

            <div class="stat fade-out">
                <img src="{% static 'greenClean/images/deforestation-2.png' %}" alt="">
                <h3>Deforestation</h3>
                <p>Around <strong>15 billion</strong> trees are cut down <strong>every</strong> year!! That's almost 2 trees cut down for every person on earth!! Find out more <a href="/#challenges">here</a></p>
            </div>
        </div>
    </div>

    <script src="{% static 'greenClean/js/statistics.js' %}"></script>

{% endblock %}