{% extends "greenClean/layout.html" %}

{% block title %}Tips{% endblock %}
{% block metaDescription %}Tips to be eco-smart{% endblock %}
{% block metaKeywords %}Eco-friendly tips{% endblock %}

{% block body %}
<div class="d-flex align-items-center">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-tip1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tip1" type="button" role="tab" aria-controls="v-pills-tip1" aria-selected="true">Tip #1</button>
    <button class="nav-link" id="v-pills-tip2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tip2" type="button" role="tab" aria-controls="v-pills-tip2" aria-selected="false">Tip #2</button>
    <button class="nav-link" id="v-pills-tip3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tip3" type="button" role="tab" aria-controls="v-pills-tip3" aria-selected="false">Tip #3</button>
    <button class="nav-link" id="v-pills-tip4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tip4" type="button" role="tab" aria-controls="v-pills-tip4" aria-selected="false">Tip #4</button>
    <button class="nav-link" id="v-pills-tip5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tip5" type="button" role="tab" aria-controls="v-pills-tip5" aria-selected="false">Tip #5</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-tip1" role="tabpanel" aria-labelledby="v-pills-tip1-tab" tabindex="0">...#1</div>
    <div class="tab-pane fade" id="v-pills-tip2" role="tabpanel" aria-labelledby="v-pills-tip2-tab" tabindex="0">...#2</div>
    <div class="tab-pane fade" id="v-pills-tip3" role="tabpanel" aria-labelledby="v-pills-tip3-tab" tabindex="0">...#3</div>
    <div class="tab-pane fade" id="v-pills-tip4" role="tabpanel" aria-labelledby="v-pills-tip4-tab" tabindex="0">...#4</div>
    <div class="tab-pane fade" id="v-pills-tip5" role="tabpanel" aria-labelledby="v-pills-tip5-tab" tabindex="0">...#5</div>
  </div>
</div>
{% endblock %}